name: Docker Image Publish

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.NUGET_PACKAGE_TOKEN }}

      - name: Set current date as env variable
        run: echo "NOW=$(date +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_ENV

      - name: Create Manifest_latest.json file
        run: |
          cat <<EOF > /home/runner/work/_temp/Manifest_latest.json
          { "name": "RIoT2 Orchestrator", "date": "${{env.NOW}}", "version": "${{github.ref_name}}", "installedPackageFilename": "ghcr.io/revolutionized-iot2/riot2-orchestrator:latest" }
          EOF

      - name: Create Manifest_rev.json file
        run: |
          cat <<EOF > /home/runner/work/_temp/Manifest_rev.json
          { "name": "RIoT2 Orchestrator", "date": "${{env.NOW}}", "version": "${{github.ref_name}}", "installedPackageFilename": "ghcr.io/revolutionized-iot2/riot2-orchestrator:${{ github.ref_name }}" }
          EOF

      - name: Build the Docker image
        run: |
         docker build -t ghcr.io/revolutionized-iot2/riot2-orchestrator:latest -t ghcr.io/revolutionized-iot2/riot2-orchestrator:${{ github.ref_name }} . --build-arg NUGET_AUTH_TOKEN=${{ secrets.NUGET_PACKAGE_TOKEN }}
         
         docker create --name temp_container ghcr.io/revolutionized-iot2/riot2-orchestrator:latest
         docker cp /home/runner/work/_temp/Manifest_latest.json temp_container:/app/Data/Manifest.json
         docker commit temp_container ghcr.io/revolutionized-iot2/riot2-orchestrator:latest

         docker create --name temp_container2 ghcr.io/revolutionized-iot2/riot2-orchestrator:${{ github.ref_name }}
         docker cp /home/runner/work/_temp/Manifest_rev.json temp_container2:/app/Data/Manifest.json
         docker commit temp_container2 ghcr.io/revolutionized-iot2/riot2-orchestrator:${{ github.ref_name }}
         
         docker push ghcr.io/revolutionized-iot2/riot2-orchestrator:latest
         docker push ghcr.io/revolutionized-iot2/riot2-orchestrator:${{ github.ref_name }}
       
